/* global ===========*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-size: 93.75%;
    --card-text: #363f5f;
    --light-green: #3dd705;
    --red: #e92929;
    --bg: #8257e5;
    --card: #fff;
}
body {
    background: #f0f2f5;
    font-family: "Poppins", sans-serif;
}
.container {
    width: min(90vw, 800px);
    margin: 3rem auto;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
/* Links & buttons =============*/

a {
    text-decoration: none;
    color: var(--light-green);
}
a:hover {
    color: var(--light-green);
}
.button.new {
    display: inline-block;
    margin-bottom: 0.8rem;
}
button {
    width: 100%;
    height: 50px;
    border: none;
    background: #3dd705;
    color: white;
    padding: 0;
    border-radius: 0.25rem;
    cursor: pointer;
}
button:hover {
    opacity: 0.7;
}
.button.cancel {
    color: var(--red);
    border: 2px var(--red) solid;
    border-radius: 0.25rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}
.button.cancel:hover {
    opacity: 1;
}

/* Titles =============*/
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}

/* header =============*/
header {
    background: var(--bg);
    padding: 2rem 2rem 10rem;
    text-align: center;
}
.header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.header .toggle {
    position: absolute;
    right: 20px;
}

/* balance =============*/
#balance {
    margin-top: -8rem;
}
#balance h2 {
    color: white;
    margin-top: 0rem;
}

/* Cards =============*/
.card {
    background: var(--card);
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--card-text);
}
.card h3 {
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card p {
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;
}
.card.total {
    background: var(--light-green);
    color: white;
}

/* Table =============*/
#transactions {
    width: 100%;
    display: block;
    overflow-x: auto;
}
#data-table {
    width: 100%;
    border-spacing: 0rem 0.5rem;
    color: #969cb3;
}
table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}
table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}
table thead th {
    background: white;

    font-weight: normal;
    padding: 1rem 2rem;

    text-align: left;
}
table td {
    background: white;
}
table tr:hover {
    opacity: 1;
}
table tbody tr {
    opacity: 0.7;
}

table tbody td {
    padding: 1rem 2rem;
    font-weight: normal;
}

td.description {
    color: var(--dark-blue);
}
td.income {
    color: var(--light-green);
}
td.expense {
    color: #e92929;
}
#new-transaction {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #32264d;
    color: #f0f0f7;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
/* modal =============*/
.modal-overlay {
    background: rgba(1, 1, 1, 0.6);

    width: 100%;
    height: 100%;

    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: #f0f2f5;
    padding: 2.4rem;
}

/* form =============*/

#form {
    max-width: 500px;
}
#form h2 {
    margin-top: 0;
}

input {
    border: none;
    border-radius: 0.2rem;

    padding: 0.8rem;
    width: 100%;
}
.input-group {
    margin-top: 0.8rem;
}
.help {
    opacity: 0.4;
}
.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group button {
    width: 48%;
}
/* footer =============*/
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);
    opacity: 0.6;
}

/* responsive =============*/

@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}
